* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body { font-family: sans-serif; }

.grid {
	background: #EEE;
	max-width: 1200px;
}

.grid-item {
	float: left;
}

/* item is invisible, but used for layout */
.grid-item,
.grid-item-content {
	width: 220px;
	height: 220px;
	margin-top: 5%;
}

/* grid-item-content is visible, and transitions size */
.grid-item-content {
	width: 220px;
	height: 220px;
	background: #ffffff;
	border-color: hsla(0, 0%, 0%, 0.5);
	border-radius: 5px;
	/*-webkit-transition: width 0.4s, height 0.4s;*/
	/*transition: width 0.4s, height 0.4s;*/
}

.grid-item:hover .grid-item-content {
	border-color: white;
	background: #A2C;
	cursor: pointer;
}

/* both item and item content change size */
.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
	width: 460px;
	height: 440px;
}

.grid-item.is-expanded {
	z-index: 2;
}

.grid-item.is-expanded .grid-item-content {
	background: #F90;
}